{
    email {$CADDY_ACME_EMAIL}
}

{$APP_DOMAIN} {
    encode gzip zstd

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle {
        reverse_proxy frontend:80
    }
}

{$APP_DOMAIN}:9000 {
    reverse_proxy minio:9000
}

{$APP_DOMAIN}:9001 {
    reverse_proxy minio:9001
}
